@import "../../style/tailwind.css";
.center-card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust width as needed */
}

.loyalty-screen{
    background-image: url("design-scribe.png");
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scan-profile {
    font-family: "Libre Barcode 39";
    font-size: 100px;
}